#cform{
    background-color: thistle;
    background-image:url("/images/electric\ energy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    width: 530px;
    height: 576px;
  }
  h1{
      text-align: center;
      color: white;
      
  }
  input[type="number"],input[type="password"],input[type="text"]{
      margin-left: 80px;
      width: 350px;
      border-radius: 10px;
      text-align: center;
      height: 50px;
  
  }
  button[type="submit"]{
     width: 210px;
     height: 50px;
     margin-left: 140px;
     padding-left: 20px;
     border-radius: 10px;
     background-color: turquoise;
     
  }
  input[type="image"]{
      height: 160px;
      width: 171px;
      margin-top: 0px;
      margin-left: 160px;
  }
  #nemp{
      margin-left: 99px;
  }