#head{
    height: 120px;
    background-color: cyan;
}
#headImg{ 
     margin-top: 0px;
width: 200px;
height: 100px;
}
#headText{
   font-size: 30px;
   color: rgb(204, 30, 210);
   padding-right: 700px;  

}
#navbarSupportedContent{
    
    background-color: rgb(211, 122, 233);

}
.img{
    background-position: cover;
    
}
