a.whatsup{display:none;}
@media only screen and (max-width:1169px){.container{max-width:95% !important;margin:0 auto;}
.mobile-nav{overflow-x:scroll;}
.social ul li{padding-right:17px;}
h2{font-size:17px;}
.img{height:160px;}
.submenu .container > ul > li{padding:0px 30px;}
.security-tabs{width:70%;}
.security-tabs{width:100%;}
.research-slider .overlay{display:block;}
.security-block{padding:40px 30px;}
.about-orf{padding:0px 10px;}
.footer-logo{margin:20px 0px 30px 16px;}
.orf{padding:0px 10px;}
.about-orf-right{padding:0px 10px;}
.footer-right{padding:25px 25px 36px;}
.col.span_4.border-right{min-height:694px;}
.recent-updates-block{width:68%;}
.governance .airpower-block, .cyber-governance-inner .airpower-block{float:none;min-width:100%;}
.inner-header h1{padding:0px;}
.governance .content{padding:30px 0 10px 60px;width:100%;}
.book-block, .report-block{padding:50px;}
.book-right-block{min-width:350px;width:30%;}
}
@media only screen and (max-width:1100px){.single-author .recent-block-left{padding:20px 30px 30px;}
.recent-updates-block{width:70%;}
.air-power.slick-initialized.slick-slider .slick-slide{margin:0 10px;}
.air-power.slick-initialized.slick-slider .slick-list{margin:0 -10px;}
.security-block{padding:20px;}
.about-block{width:68%;}
.about-right{width:30%;}
.footer-sub li{padding:0px 30px 0 0;line-height:normal;}
.footer-sub .footer-container p{line-height:normal;}
}
@media only screen and (max-width:1024px){.content-tab{position:relative;bottom:0px;}
.content-new{bottom:8px;}
#mc_embed_signup{width:60%;}
.research-prev h3{float:left;margin:0;padding-right:20px;width:100%;}
.research-next h3{float:right;margin:0;padding-left:20px;width:100%;}
.recent-updates-block .research-prev h3{width:100% !important;}
.report-full-img{height:383px;}
.upcoming-events{padding:40px;}
.TrendingSlider .air-power .security-block .figcaption h2{height:130px;}
.recent-updates-block, .recent-updates-right-block{margin-top:0px;}
.home_Initiatives{margin-top:60px;}
.about-orf-right{min-height:372px;}
header .logo a{display:block;height:94px;width:300px;}
header ul.header-nav li a{padding:0px 17px;}
.social ul{margin:0px;}
.inner-header h1{font-size:40px;line-height:40px;padding:0;}
.inner-header h3{padding:0px;}
.orf .widget.widget_text p a{display:inline-block;}
a.whatsup{display:inline-block;}
}
@media only screen and (max-width:1023px){.container{max-width:100% !important;padding:0 20px;}
.content-new{position:relative;bottom:0px;}
div.banner{background:#000;}
.left-content{width:100%;float:none;border-right:none;padding:30px;}
.right-content{width:100%;float:none;padding:30px;}
.container.home-slider{padding:20px;}
header .logo-part .container .span_4{width:100%;}
header .logo-part{padding:10px 0px;}
.lines-button{display:block !important;float:right;}
.submenu{width:250px !important;}
ul.main-navigation > li > i.plus, ul.main-navigation > li > i.minus{display:block;float:right;height:45px;width:47px;position:absolute;right:0;top:0px;background:url(../images/plus-icon.svg) center center no-repeat;}
.submenu .container > ul > li > ul li{min-height:10px;}
.submenu ul li ul{height:auto;}
ul.main-navigation > li > i.minus{background:url(../images/minus-icon.svg) center center no-repeat;}
.mobile-nav{position:fixed;height:100%;width:250px;background-color:#203445;right:0;top:0;padding:0px 0px 20px;opacity:0;}
ul.main-navigation > li{width:100%;text-align:left;border-bottom:1px solid #494d56;position:relative;}
ul.main-navigation a{padding:5px 15px;text-align:left;width:100%;display:block;font-size:17px;font-family:"Rufina";font-weight:400;margin:0px 0;line-height:35px;}
.header-nav{padding:20px 0;overflow:hidden;}
ul.header-nav li, ul.header-nav li a{display:block;width:100%;padding:0 15px;}
ul.header-nav li a{padding:0px;line-height:31px;font-size:14px;}
.submenu, .header-nav{background:#fff;padding-bottom:20px;}
.submenu{display:none;}
.submenu .container > ul > li, .submenu .container > ul > li > ul li a{color:#5F7180;display:block;font-family:"Ubuntu",serif;font-weight:300;width:100%;padding:0px;margin:0px;font-size:15px;min-height:inherit;}
.submenu .container > ul > li > ul li:last-child{padding-bottom:0px;}
.submenu .container{max-width:100%;padding:0px;}
.navigation .submenu h3, ul.main-navigation .submenu h3{margin:20px 0px 10px;font-size:14px;}
.submenu .container > ul > li{padding:0px 15px 15px;border-bottom:2px solid #00b3e3;}
.submenu .container > ul > li:hover{box-shadow:0px 0px 0px #ccc;}
.submenu .container > ul > li:before{background:none;height:4px;display:none;}
header .navigation .container .row .col.span_4{position:absolute;right:0px;top:-120px;}
header .navigation .container .row .col.span_8{width:100%;}
.security{width:60%;padding:30px 40px;}
.security-right{width:40%;}
h1{line-height:45px;}
.recent-block-left .row .col.span_4{width:40%;}
.recent-block-left .row .col.span_8{width:60%;}
.recent-updates-right-block h3, refine-results h4{line-height:46px;margin-bottom:30px;}
.recent-block-slide{margin-bottom:30px;}
.refine-results{width:100%;}
footer .container .row .col.span_9{}
.about-orf aside{min-height:inherit;}
footer .orf{float:right;width:294px;}
footer .about-orf{float:left;width:60%;}
footer .container .row .col.span_3, footer .container .row .col.span_9{width:100%;}
.footer-logo{float:none;margin:30px auto 10px;width:87px;}
.orf, .about-orf, .orf address a{padding:0px;margin:0px;}
.about-orf-right{margin:20px 0px;padding:0;}
.footer-right{padding:25px 0 36px;}
ul.footer-link li:nth-child(2){padding-left:inherit;}
ul.footer-link li:nth-child(3){padding-left:inherit;}
ul.footer-link li:nth-child(4){padding-left:inherit;}
ul.footer-link li:last-child{text-align:left;}
.inner-header h1{padding:0px;}
header .navigation .container .row .col.span_4{left:0;position:absolute;top:0;width:430px;}
.navigation .search-form{position:relative;width:100%;height:48px;}
.navigation .container .col.span_4{width:250px;}
.navigation .container .col.span_8{width:50px;float:right;}
.navigation .search{padding:0 0px 0 50px;}
.logo-slogan{height:47px;margin:10px auto 0;text-align:center;width:220px;}
header ul.logo-slogan li{color:#0e6ba4;float:left;font-size:16px;font-weight:400;letter-spacing:1px;line-height:20px;padding-right:0;}
header .logo{background-repeat:no-repeat;background-size:cover;display:block;height:42px;width:220px;}
header .logo a{display:block;width:220px;}
footer .social ul{margin:0;}
.footer-container{margin:0;padding:0;}
.footer-sub .footer-container p{width:100%;}
#post-12854 .col.span_8, #post-12854 .col.span_4{width:100%;}
.home-slider{width:90%;left:50%;top:50%;right:auto;margin-top:-115px;}
}
@media only screen and (max-width:979px){.about-block, .about-right{width:100%;}
.about-block{margin-bottom:30px;}
.partner-block{height:123px;}
.partner-block-blank{font-size:13px;}
#mc_embed_signup{width:80%;}
.recent-block-left .row .col.span_4, .recent-block-left .row .col.span_8{width:100%;}
.recent-block-left .social ul{margin:30px 0px;}
.recent-block-left .img, .book-img-comman{margin-bottom:30px;}
.airpower-block{min-width:340px;}
.recent-updates-block, .trending-left{width:60%;}
.recent-updates-right-block, .trending-right{width:38%;}
.cyber-governance-inner .container .col.span_12 .row .col.span_4, .cyber-governance-inner .container .col.span_12 .row .col.span_8, .cyber-governance-inner .content{width:100%;}
.governance .airpower-block, .cyber-governance-inner .airpower-block{margin-bottom:0px;}
.refine-results, .full-page.governance.cyber-governance-inner .airpower-block{margin-bottom:30px;}
.breadcrumb{margin:0 0 30px;}
.research-tabs > ul > li{width:33.333%;}
.research-tabs > ul > li:nth-child(4n+1){clear:none;}
}
@media only screen and (max-width:800px){.recent-updates-block .research-next, .recent-updates-block .research-prev{margin-bottom:20px;}
.recent-updates-block, .recent-updates-right-block, .trending-left, .trending-right, .security-tabs-right{width:100%;}
.video iframe{height:250px;}
.security-block{padding:40px 20px;}
.trending-right{margin-top:60px;}
.trending-right ul.report{margin-bottom:60px;}
.margin-top180{margin-top:60px;}
.governance .row .col.span_4.home-trending, .governance .row .col.span_8.home-trending{width:50%;}
.governance-dropdown{margin:0 0 0 15px;font-size:12px;}
.imghome{background-repeat:no-repeat;background-size:cover;height:120px;width:192px;}
.home-trending h1{line-height:28px;}
.TrendingSlider .past-events{width:48%;float:left;margin-right:2%;min-height:366px;}
.TrendingSlider .past-events:last-child{float:right;margin-right:0;}
.security-tabs-right .past-events{margin-bottom:50px;}
footer .about-orf, footer .orf{width:100%;}
}
@media only screen and (max-width:768px){.book-cont .figcaption h1{width:62% !important;}
.book-cont{display:table-cell;vertical-align:bottom;padding:0px;}
ul.home-recent-update li{float:left;width:100%;line-height:17px;}
.recent-block-left{padding:30px;}
.cs-skin-elastic .cs-options span{height:22px;}
.cs-select li.cs-optgroup li > span{height:27px;line-height:27px;}
h1{font-size:25px;line-height:32px;}
h2{font-size:19px;font-weight:600;}
h3{font-size:18px;}
h4{font-size:18px;}
h5{font-size:14px;}
.footer-container{padding:0px;}
.footer-sub li{padding:0px 30px 0 0;margin-bottom:20px;}
.cs-select span{padding:0px 10px;height:42px;line-height:47px;}
.navigation, .navigation .search, .navigation .dropdown-arrow a{height:46px;}
.navigation .search-button{top:0px;height:47px;}
.navigation .dropdown-arrow a::after{top:17px;}
.lines-button{padding:8px 0 14px 15px;}
ul.research-faculty li{width:50%;vertical-align:top;float:left;padding:0 10px;margin-bottom:10px;}
ul.research-faculty li:nth-child(2n+1){clear:both;}
ul.research-faculty{margin:0 -10px;}
.leadership-detail .profile-image{float:none;width:100%;}
.profile-bio{float:none;width:100%;margin-top:100px;clear:both;}
.leadership-detail .profile-image{float:none;width:100%;clear:both;}
.leadership-detail{padding:20px;}
.truste-list{width:100%;float:none;overflow:hidden;}
.trustee-block > div{display:block;vertical-align:middle;padding-left:0;}
.trustee-info{margin-top:20px;}
.Advisors-list{width:100%;float:none;}
.Advisors-list-inner{width:100%;float:none;margin-top:30px;}
.research-faculty-block{padding:20px;}
.main-banner-container .left-content p{display:none;}
.main-banner-container .banner .content-new{position:absolute;bottom:0;width:100%;}
ul.imagegrid-six li{width:50% !important;}
    
.issuebrif .report-block .book .book-cont{display: inherit;}
.issuebrif .report-block .book .book-cont-block{height: auto;margin-top: 40px;}
footer .about-orf-right {min-height:auto!important;}
   .navigation button.lines-button:focus{outline: none;} 
}
@media only screen and (max-width:767px){figure.wp-caption.aligncenter{width:100% !important;}
ul.home-recent-update li{float:left;width:100%;line-height:17px;}
.book-cont .figcaption h1{width:62% !important;}
.book-cont{display:table-cell;vertical-align:bottom;padding:0px;}
.partner-block{margin-right:2%;width:48%;}
.partner-block{height:73px;}
.report-block .social ul{margin:20px 0 0;float:left;}
.recent-updates-block .research-next h3{width:100%;}
.research-next, .research-prev{min-height:auto;}
.recent-block-left .calendar-block, .recent-updates-block .calendar-block{margin:0px;display:inline-block;}
h3.nextCss a{width:70%;text-align:left;float:left;margin-left:10px;}
.img-prev{float:left;margin-left:0px;width:25%;}
.tab-content-container .tab-content{padding:20px;}
.tab-container{width:100%;}
.register-form-block h3{font-size:15px;}
.register-form-block > ul.register-form li{margin-bottom:10px;}
.register-form-block > ul.register-form li span{font-size:13px;margin-bottom:5px;}
.register-form-block input{font-size:13px;font-weight:300;}
.register-form-block input{line-height:30px;}
.register-form-block input[type="submit"]{line-height:30px;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
.fancybox-skin{padding:5px !important;}
img.hoimg{display:none !important;}
.report-full-img{height:188px;position:relative;}
.recent-updates-block h1{line-height:25px;margin-bottom:16px;font-size:19px;}
.col.span_4.home-trending, .col.span_8.home-trending{width:auto;}
.col.span_8.home-trending{float:right;}
.recent-block-left .social ul{margin:10px 0;}
.container.home-slider{float:none;}
.top-slider{height:320px;}
.recent-updates-right-block h3{margin-bottom:10px;}
footer .container .row .col.span_9 .row .col.span_4{width:33.333%;}
.footer-sub .footer-container p{float:left;display:block;}
#menu-footer-menu li:first-child{margin-top:10px;}
.textwidget{margin-top:30px;}
.ContactUsForm ul.contact-form, .contactmap{width:100%;}
.contactmap{margin:10px 0px 0px;}
.governance .container .container{max-width:100%;padding:0px;}
.ContactUsForm{padding:15px;}
ul.contact-form .form-group label{font-size:12px;margin-bottom:0px;line-height:normal;}
.research-tabs > ul > li{width:50%;}
.view-all{margin-bottom:30px;}
ul.tabs > li{margin-top:10px;}
.book-left-block{width:100%;float:none;}
.featured_Articles_home .span_3{width:50%;}
.featured_Articles_home .span_3:nth-child(3n + 1){clear:both;}
.featured_Articles_home img{width:100% !important;height:auto !important;}
.featured_Articles_home ul{padding-bottom:20px;}
}
@media only screen and (max-width:667px){.mobileButton{display:block !important;}
.button-foregin{width:504px;max-width:100%;}
.imagesdivicon{width:84%;}
.register-form-block > ul.register-form li span{display:none !important;}
.register-form-block{padding:16px !important;}
.register-form-block > ul.register-form li{margin-bottom:16px !important;}
.report-block iframe{width: 100%;height: auto; }
}
@media only screen and (max-width:639px){ul.research-faculty li, .formlist{width:100%}
.formlist, .formlist textarea, .formlist input[type="text"]{width:100% !important;}
.programmedetail h5{text-align:center !important;}
.programmedetail p a, .programmedetail h3{font-size:18px !important;}
.programmedetail h3 br{display:block;margin-bottom:10px;content:"";}
.programmedetail h3{margin-bottom:20px;}
.programmedetail h5{font-size:12px;line-height:15px;}
.row.arrow-none .slick-prev, .row.arrow-none .slick-next{display:none !important;}
.trending-left .figcaption h2{font-size:19px;}
.airpower-block{min-width:280px;}
.research-tabs > ul > li{width:50%;}
.research-full-tabs ul.tabs li{display:table;}
ul.tabs > li a{display:table-cell;height:40px;line-height:14px;padding:5px 5px;vertical-align:middle;font-size:11px;}
.inner-header h1{font-size:27px;line-height:27px;text-align:center;}
.top-slider{height:200px;}
.inner-header p{margin:0px;font-size:13px;}
.textwidget{margin-top:10px;}
footer .container .row .col.span_9 .row .col.span_4{width:100%;}
ul.footer-link li{display:inline-block;float:none;padding-right:30px;width:auto;}
.about-orf-right{margin:10px 0 0;min-height:inherit;}
.register-form-block > ul.register-form li{width:100% !important;}
.register-form-block{padding:20px;}
.internship ul.contact-form .form-group label{max-width:100%;margin-bottom:10px;}
ul.contact-form .form-group input{width:100%;max-width:initial !important;}
.main-banner-container .left-content{padding-right:initial;padding-left:initial;padding:initial;}
.main-banner-container .left-content:after,
.main-banner-container .left-content:before{display:none;}
.home-bnner-text-box h2{font-size:19px;letter-spacing:1px;margin-bottom:4px;}
.home-bnner-text-box-wrap{padding:10px 10px;}
.home-bnner-text-wrap{top:calc(50% - 35px);}
.featured_Articles_home .span_3{width:100%;}
}
@media only screen and (max-width:480px){ul.imagegrid-six li{width:100% !important;}
.top-slider{height:400px;}
ul.research-faculty li{width:100%}
#mc_embed_signup, #mc_embed_signup .mc-field-group label, ul.checkofinterest li{width:100% !important;}
.page-id-12851 .governance .container{padding:0px 10px;}
.governance .row .col.span_4.home-trending, .governance .row .col.span_8.home-trending{width:100%;}
.view-all{float:none;}
.TrendingSlider .past-events, .TrendingSlider .past-events:last-child{width:100%;}
.recent-block-left .img{height:130px;width:220px;}
.air-power .slick-prev{top:-23px;}
ul.tabs > li{width:inherit;}
.air-power .slick-next{right:10px;margin-top:6px;}
.hfeed .report-full-img .caption{padding:27px 26px;top:0;bottom:0;left:0;right:0;}
.imagesdivicon{width:89%;}
}
@media only screen and (max-width:479px){ul.research-faculty li{width:100%}
.trending-left .figcaption h2{font-size:19px;}
.hfeed .report-full-img .caption{padding:27px 10px;top:0;bottom:0;left:0;right:0;}
.book-block, .report-block{padding:30px;}
.recent-block{padding:30px 30px 10px;}
.relativeSearch{display:none !important;}
header .navigation .container .row .col.span_4{width:260px;}
.recent-block-left .img, .video iframe{height:160px;}
.recent-block-left .img{float:left;margin-bottom:25px !important;}
.airpower-block{min-width:100%;}
.trending-left .airpower-block i{float:left;}
.trending-left .view-all, .governance-dropdown{margin:0 0 0 15px;float:left;font-size:12px;}
.airpower-block .content{width:100%;right:0px;}
.footer-sub ul li{display:inline-block;float:none;list-style:outside none none;padding:0 20px 0 0;}
.footer-sub .footer-container p{float:left;}
.research-full-tabs ul.tabs li{width:auto;}
.research-tabs > ul > li{float:none;width:auto;}
.air-power .slick-next{right:10px;margin-top:-18px;}
.air-power .slick-prev{right:49px;left:auto;margin-top:-44px;}
ul.tabs > li{width:inherit;}
.full-page.governance .view-all{line-height:100px;}
.width10000 .slick-next{right:-40px !important;}
.width10000 .slick-prev{left:-40px !important;}
.width10000{padding-left:40px;padding-right:40px;}
}
@media only screen and (max-width:414px){.Contributions-page{padding:19px;}
.imagesdivicon{width:89%;font-size:11px;}
span.imagesdivicon img{width:11%;}
.Contributions-page{padding:21px !important;}
table.aligncenter{height:auto !important;}
.navigation .search-form{width:100% !important;}
}
@media only screen and (max-width:360px){table.aligncenter{font-size:11px;}
.report-block{padding:18px;}}
@media only screen and (max-width:320px){table.aligncenter{font-size:11px;}
.report-block{padding:18px;}}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-device-pixel-ratio:2){.mail{background:url(../images/sprite2x.png) no-repeat 0px 0px;background-size:400px 400px;}.facebook{background:url(../images/sprite2x.png) no-repeat -32px 0px;background-size:400px 400px;}
.twitter{background:url(../images/sprite2x.png) no-repeat -58px 0px;background-size:400px 400px;}
.play{background:url(../images/sprite2x.png) no-repeat -90px 0px;background-size:400px 400px;}
.wi-fi{background:url(../images/sprite2x.png) no-repeat -118px 0px;background-size:400px 400px;}
.rss{background:url(../images/sprite2x.png) no-repeat -150px 0px;background-size:400px 400px;}
.smily{background:url(../images/sprite2x.png) no-repeat -180px 0px;background-size:400px 400px;}
footer .mail, .book-block .mail, .report-block .mail{background:url(../images/sprite2x.png) no-repeat scroll 0 -22px;background-size:400px 400px;}
footer .facebook, .book-block .facebook, .report-block .facebook{background:url(../images/sprite2x.png) no-repeat scroll -32px -22px;background-size:400px 400px;}
footer .twitter, .book-block .twitter, .report-block .twitter{background:url(../images/sprite2x.png) no-repeat scroll -58px -22px;background-size:400px 400px;}
footer .play, .book-block .play, .report-block .play{background:url(../images/sprite2x.png) no-repeat scroll -90px -22px;background-size:400px 400px;}
footer .wi-fi, .book-block .wi-fi, .report-block .wi-fi{background:url(../images/sprite2x.png) no-repeat scroll -118px -22px;background-size:400px 400px;}
footer .rss, .book-block .rss, .report-block .rss{background:url(../images/sprite2x.png) no-repeat scroll -150px -22px;background-size:400px 400px;}
.side-icon-block .rss, .side-icon-block .pdf, .side-icon-block .print{background:url(../images/sprite2x.png) no-repeat scroll -180px 0;background-size:400px 400px;}
.side-icon-block .rss{background-position:-313px 0;background-size:400px 400px;}
.side-icon-block .pdf{background-position:-270px -64px;background-size:400px 400px;}
.side-icon-block .print{background-position:-315px -64px;background-size:400px 400px;}
}
@media only screen and (max-width:1023px){.navigation{display:block !important;}
}
@media only screen and (max-width:768px){.navigation{display:block !important;}
}
@media only screen and (max-width:600px){.navigation{display:block !important;}
}