@charset "ISO-8859-1";

#head {
	height: 100px;
	background-color: cyan;
}

#headImg {
	margin-top: 0px;
	width: 200px;
	height: 100px;
}

#headText{
   font-size: 45px;
   
   color: skyblue;
   padding-top: 10PX;
   text-align: center;
   margin-right: 570px;
}

#navbarSupportedContent{
    
    background-color: slategrey;
    width: 500px;
    padding-left: 20px;

}

#cform{
 /*  background-color: thistle; */
  background-image: url("../images/img2.jpg");
  width: 530px;
  height: 500px;
  border-radius: 10px;
  margin-left: 250px;
  margin-top: 100px;
}
h1{
    text-align: center;
    color: whitesmoke;
    
}
input[type="number"],input[type="password"],input[type="text"]{
    margin-left: 80px;
    width: 350px;
    border-radius: 10px;
    text-align: center;
    height: 50px;

}
button[type="submit"]{
   width: 210px;
   height: 50px;
   margin-left: 140px;
   padding-left: 20px;
   border-radius: 10px;
   background-color: rgb(0, 238, 255);
   
}
input[type="image"]{
    height: 160px;
    width: 171px;
    margin-top: -50px;
    margin-left: 160px;
}
#nemp{
    margin-left: 90px;
}