@charset "UTF-8";.slick-slider{position:relative;display:block;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent;}
.slick-list{position:relative;overflow:hidden;display:block;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-loading .slick-list{}
.slick-list.dragging{cursor:pointer;cursor:hand;}
.slick-slider .slick-track{-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.slick-track{position:relative;left:0;top:0;display:block;}
.slick-track:before, .slick-track:after{content:"";display:table;}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{float:left;height:100%;min-height:1px;display:none;position:relative;}
[dir="rtl"] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-slide.dragging img{pointer-events:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
.slick-prev, .slick-next{position:absolute;display:block;height:37px;width:37px;line-height:0;font-size:0;cursor:pointer;background:none;top:50%;padding:0;border:none;outline:none;opacity:1;z-index:99999999;margin-top:-20px;background:#08151f;}
.slick-prev:hover, .slick-next:hover{background:#005dac;}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{opacity:0.25;}
.slick-prev:before, .slick-next:before{font-size:20px;line-height:1;opacity:1;}
.slick-prev:hover:before{border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:4px solid #fff;content:"";height:0;left:50%;margin-left:-2px;position:absolute;top:15px;}
.slick-next:hover:before{opacity:1;background:#005dac;}
.slick-prev{left:0px;}
[dir="rtl"] .slick-prev{left:auto;right:-25px;}
.slick-prev:before{border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:4px solid #fff;content:"";height:0;left:50%;margin-left:-2px;position:absolute;top:15px;}
[dir="rtl"] .slick-prev:before{content:"→";}
.slick-next{right:0px;}
[dir="rtl"] .slick-next{left:-25px;right:auto;}
.slick-next:before{border-top:4px solid transparent;border-bottom:4px solid transparent;border-left:4px solid #fff;content:"";height:0;left:50%;margin-left:-2px;position:absolute;top:15px;}
[dir="rtl"] .slick-next:before{content:"←";}
.slick-dots{position:absolute;bottom:25px;list-style:none;display:block;text-align:center;padding:0;width:100%;}
.slick-dots li{position:relative;display:inline-block;height:20px;width:20px;margin:0 5px;padding:0;cursor:pointer;}
.slick-dots li button{border:0;background:url(../images/icons.png) no-repeat -130px -42px;;display:block;height:20px;width:20px;outline:none;line-height:0;font-size:0;color:transparent;padding:5px;cursor:pointer;opacity:0.2}
.slick-dots li.slick-active button{background-position:-103px -42px;opacity:1;}
.slick-dots li.slick-active button:before{color:black;opacity:0.75;}
.air-power .slick-prev, .air-power .slick-next{top:-62px;}
.air-power .slick-next{right:10px;}
.air-power .slick-prev{right:49px;left:auto;}
.past-events .slick-prev{right:39px;left:auto;}
.past-events .slick-prev, .past-events .slick-next{top:auto;bottom:-37px;}
.trending-slide .slick-prev, .slick-next{}
.air-power .slick-prev, .air-power .slick-next{top:-49px}
.trending-slide .slick-prev::before{background:rgba(0, 0, 0, 0) url("../images/social-sprite.png") no-repeat scroll 19px -78px;}
.trending-slide .slick-next::before{background:rgba(0, 0, 0, 0) url("../images/social-sprite.png") no-repeat scroll -30px -78px;}
.trending-slide .slick-slider{padding:0 46px;}
.recent-updates-right-block .slick-prev, .recent-updates-right-block .slick-next, .book-details-block .slick-prev, .book-details-block .slick-next, .refine-results .slick-prev, .refine-results .slick-next{top:auto;bottom:0;}
.recent-updates-right-block .slick-prev, .book-details-block .slick-prev, .refine-results .slick-prev{right:39px;left:auto;}
.past-events-slider .slick-prev, .past-events-slider .slick-next{bottom:60px;top:auto;}
.past-events-slider .slick-prev{left:auto;right:49px;}
.past-events-slider .slick-prev, .past-events-slider .slick-next{background:rgba(22,36,25,0.7);}
.past-events-slider .slick-prev:hover, .past-events-slider .slick-next:hover{background:rgba(22,36,25,1);}
.past-events-slider .slick-next:hover::before{background:rgba(22,36,25,1);}
.past-events-slider .report-full-img .caption{width:702px;}
.events .slick-prev, .events .slick-next{top:20px;right:49px;left:auto;}
.events .slick-next{right:0;z-index:0;}
.partners-slider .slick-next, .partners-slider .slick-prev{top:-50px;right:10px;}
.partners-slider .slick-prev{right:49px;left:auto;}
.single_left.slick-initialized.slick-slider .slick-next{background:none !important;}
.single_left.slick-initialized.slick-slider .slick-prev{background:none !important;}